
.card {  display: flex;
  gap: 0.75rem;
  position: relative;   
  flex-direction: column;
  margin: 10px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  width: 200px; /* o 200px, según lo que veas mejor */
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  background-color: #fafafa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-bottom-right-radius: 1rem;
  border-top-left-radius: 1rem;
  text-align: left;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}

p {
  margin: 0;
  color: #333;
  font-size: 0.95rem;
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #22c55e; /* green-500 */
  padding: 0.25rem 0.75rem;
  border-bottom-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.banner_text {
  font-size: 0.75rem;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}


